<center><h1><font color="white">Interview Advice</font></h1></center>
<br/>

<ul id="list1">
	    <li>Handle the toughest questions</li>
      <li>Stand out from other candidates</li>
    <li>Keys to success</li>
    <li>Secure the best offers</li></ul>
	<a href="#" class="more"><img src="/assets/readmorebutton.gif" alt="" width="105" height="27" /></a>
