
		<div class="values1">
		<center><h1> Rails</h1><center>
		<div class="project_text">
		<strong>Ruby on Rails,</strong> often shortened to Rails or RoR, is an open source full-stack web application framework for the Ruby programming language. Ruby on Rails is not to be confused with Ruby, which is a general-purpose programming language that Ruby on Rails runs on. Ruby itself existed for more than 10 years before the first release of Ruby on Rails. Rails is a full-stack framework, meaning that it gives the Web developer the full ability to gather information from the web server, talking/querying the database, and template rendering out of the box. As a result, Rails features a routing system that is independent of the Web server.</div>
		<a href="/project/rails_project_list">Download Rails Project</a><br/>
		<a href="/project/rails_gem_list">Rails Gem Configure</a>
		</div>