<center>
<h1>Profile</h1>
<%=form_for(:profile,:url=>{:action=>"create"}) do |f|%>
<table>
<tr><td>First Name</td><td>
      <%= f.text_field :first_name %></td></tr>

   <tr><td>Last Name</td><td>
     <%= f.text_field :last_name%></td></tr><tr><td colspan="2">
		 <%= f.submit "Update Profile" %></td></tr>
		 
		 </table>
		 </center>
		 
		 
		 <%end%>